$space: 1rem;

$space-small: $space / 2;
$space-little: $space / 4;

$space-large: $space * 2;
$space-big: $space * 4;
$space-huge: $space * 8;
$space-gigantic: $space * 16;

$color-gray: #808080;
$color-gray-light: #C0C0C0;
$color-white: #FFF;
