.task-editor {
    &__button-group {
        display: flex;
        justify-content: flex-end;
        padding-top: $space;
    }

    &__cancel-button {
        margin-right: $space;
    }

    &__loading-indicator {
        width: 72px;
    }

    &__submit-button {
        &--disabled {
            &.md-btn {
                background-color: $color-gray-light;
            }
        }
    }
}
