%hover-button-cursor {
    &.md-btn.md-pointer--hover:hover {
        cursor: pointer;
    }
}

.tasks-list {
    &__edit-button {
        @extend %hover-button-cursor;
    }

    &__delete-button {
        @extend %hover-button-cursor;
    }

    &__item {
        margin: 0 $space-small;

        .md-pointer--hover:hover {
            cursor: default;
        }
    }

    &__empty-list {
        font-style: italic;
        margin: $space;
        text-align: center;

        .md-text {
            white-space: initial;
        }
    }
}
