.todo-manager {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__content {
        padding: $space-small;
        width: 100%;
    }

    &__header {
        margin-top: $space-huge;
        text-align: center;
    }

    &__subtitle {
        @include font-subtitle;
        color: $color-gray-light;
        font-size: 2rem;
    }

    &__title {
        width: 70%;
    }


    @media (min-width: 768px) {
        &__content {
            width: 50%;
        }
    }
}
